
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  
  background-image: url("blackvii_thumbnail.jpg");  
  height: 100%;   
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.container {
  margin-left: 300px;
  padding-top: 65px;
}

.panel-body{
  height: 520px;
  width: 900px;
  margin-left: 100px;
  background-image: url("19634.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);
  position: absolute;
  top: 300px;
  right: 170px;
 
}

li {  
  display: inline;
  margin-right: 35px;
}